@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --aqua-green: rgb(127, 255, 212);
    --light-aqua-green: rgb(169, 255, 226);
}

p, h1, h2, h3, h4, h5, h6,
div, label, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 36px;
    padding-left: 32px;
    background-color: var(--aqua-green);
    box-shadow: 0 2px 8px rgb(150, 150, 150);
}

.body-container {
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: rgb(150, 255, 255);
}

.game-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);
    padding-top: 128px;
}

.u-name-form {
    position: absolute;
    top: 25vh;
    left: -30vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type='text'] {
    border: none;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    padding: 4px;
}

.confirm-button {
    height: 32px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--aqua-green);
    cursor: pointer;
}

.confirm-button:active {
    background-color: var(--light-aqua-green);
}

.game-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 124px;
}

.bottom-left, .bottom-middle, .bottom-right {
    border-top: 2px solid black;
}

.top-right, .middle-right, .bottom-right {
    border-left: 2px solid black;
}

.top-left, .middle-left, .bottom-left {
    border-right: 2px solid black;
}

.top-left, .top-middle, .top-right {
    border-bottom: 2px solid black;
}

.misc-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 24vh;
    right: -20vh;
}

.reset-button, .bot-normal-button,
.bot-impossible-button {
    height: 48px;
    width: 128px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--aqua-green);
    cursor: pointer;
}

.reset-button:active, .bot-normal-button:active,
.bot-impossible-button:active {
    background-color: var(--light-aqua-green);
}

.win-display {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5vh;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: var(--aqua-green);
    height: 128px;
    width: 256px;
    padding: 32px;
    margin: 64px;
}